
.out{
    width: 100%;
    text-align: center;
}
.slider-container{
    width: 80%;
    text-align: center;
    height: 60vh;
    display: inline-block;
    border: 2px rgb(8, 8, 8) solid;
    border-radius: .5%;
}

.slider-container-inner{

}

.slick-slide img{
    width: 70%;
    display: inline-block;
}

button.slick-prev{
    left: -35px;
}

button.slick.next{
    right: -35px;
}