@font-face{
    font-family: 'Streamster';
    src: url('../../../../Fonts/Streamster.ttf');
}

@font-face{
    font-family: 'MONO';
    src: url('../../../../Fonts/VCR_OSD_MONO_1.001.ttf');
}

.nav-button{
    display: inline-block;
    text-align: center;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 25px;
    margin-top: 40%;
    color: rgba(0,0,0,.7);
    font-family: 'MONO';
}

.nav-button:hover{
    cursor: pointer;
}