@font-face {
    font-family: 'Streamster';
    src: url('../../Fonts/Streamster.ttf');
  }

.resume{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 75%;
    padding-top: 5vh;
    display: inline-block;
    text-align: left;
}

h2{
    font-family: 'Streamster';
    font-size: 3vw;
    color: red;
    text-shadow: 1px .5px cyan;
    text-align: center;
}

h3{
    font-size: 1vw;
    color: white;
}

h4{
    font-size: .5vw;
    color: white;
}

.skills-container{
    width: 50%;
    justify-content: start;
    display: inline-block;
}
