@font-face {
    font-family: 'Streamster';
    src: url('../../Fonts/Streamster.ttf');
  }

.home{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    padding-top: 5vh;
    align-items: center;
    background-image: linear-gradient(rgba(255,0,228,0.7),
    rgba(112,0,156,0.8) 40%, rgb(48, 48, 52) 80%);
}

.name-container{
    width: 50%;
}

.name{
    text-align: center;
    margin-top: 10%;
    font-family: 'Streamster';
    color: rgba(255, 0, 0, 1);
    font-size: 5vw;
    width: 100%;
    position: relative;
    right: 20px;
    text-shadow: 3px 2px cyan;
}

.title{
    text-align: right;
    color: rgba(109, 255, 255, 0.75);
    font-family: 'Streamster';
    font-size: 2vw;
    position: relative;
    bottom: 100px;
    right: 120px;
}

#moon{
    background: linear-gradient(
        rgba(255, 220, 62),
        rgb(248, 194, 44) 32%,       
        rgba(0,0,0, 0) 33%,
        rgba(0,0,0, 0) 34%,        
        rgb(255, 204, 62) 35%,
         rgb(252, 172, 0) 43%,
         rgba(0,0,0, 0) 44%,
         rgba(0,0,0, 0) 46%,         
         rgb(252, 172, 0) 47%,
         rgb(252, 151, 0) 55%,
         rgba(0,0,0, 0) 56%,
         rgba(0,0,0, 0) 58%,
         rgb(252, 151, 0) 59%,
         rgb(252, 126, 0) 67%,
         rgba(0,0,0, 0) 68%,
         rgba(0,0,0, 0) 70%,
         rgb(252, 126, 0) 71%,
         rgb(241, 79, 30) 78%,
         rgba(0,0,0, 0) 79%,
         rgba(0,0,0, 0) 81%,
         rgb(241, 79, 30) 82%,
         rgb(252, 59, 0) 89%,         
         rgba(0,0,0, 0) 90%,
         rgba(0,0,0, 0) 92%,
         rgb(252, 59, 0) 93%,                  
          rgb(235, 14, 80) 100%);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.moon-container{
    margin-top: 15vh;
    height: 20vw;
    width: 20vw;
}

#right-line{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    transform: rotate(10deg);
    border-color: black;
}