.header{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    column-count: 2;
    text-align: center;
    column-fill: auto;
    background-color: black;
    color: white;
    height: 5vh;
}