body{
    overflow-y: auto;
}

.app{
    background-image: white;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.container{
    width: 75%;
    margin-right: 10%;
    margin-left: 10%;
}
