@font-face{
    font-family: 'MorningStar';
    src: url('../../../Fonts/MorningStar.ttf');
}

@font-face{
    font-family: 'OutrunFuture';
    src: url('../../../Fonts/Outrun future.otf');
}

@font-face{
    font-family: 'Streamster';
    src: url('../../../Fonts/Streamster.ttf');
}

.title{
    color: rgba(185,0,75,.7);
    font-family: 'Streamster';
    font-size: 3.875em;

}