@font-face{
    font-family: 'MorningStar';
    src: url('../../../Fonts/MorningStar.ttf');
}

@font-face{
    font-family: 'OutrunFuture';
    src: url('../../../Fonts/Outrun future.otf');
}

@font-face{
    font-family: 'Streamster';
    src: url('../../../Fonts/Streamster.ttf');
}

.title{
    font-size: 25px;
    width: 25%;

}